<?xml version="1.0" encoding="utf-8"?> <!-- DECLARACIÓN DE LA VERSIÓN Y TIPO DE PROGRAMACIÓN A UTILIZAR -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- LOS DOS PERMISOS ESTABLECIDOS, SON PARA LA CONEXIÓN A INTERNET DEJANDO ASÍ EL ACCESO
     A LAS REDES PREPARADO PARA ESTABLECER CONEXIÓN CON BASES DE DATOS Y APIS EXTERNAS-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- LO QUE SE REALIZA A CONTINUACIÓN ES PARECIDO A UN FICHERO POM EN LOS PROYECTOS MAVEN,
     SE ESTABLECE LA CONFIGURACIÓN DE LAS CLASES Y EL ORDEN DE INICIO EN LA APLICACIÓN. -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <!-- TODAS LAS ACTIVIDADES REFRENCIAN A LAS CLASES DE LA APLICACIÓN.
        EL ORDEN EN EL QUE SE MUESTRA NO TIENE PORQUE SER EL ORDEN QUE SIGUEN DURANTE LA EJECUCIÓN,
        ESTO SE DEBE A QUE LA APLICACIÓN SE MUEVE SEGÚN LO INDICADO POR EL USUARIO.-->
        <activity
            android:name=".Fallostestigos_apgmotor"
            android:exported="false" />
        <activity
            android:name=".Adaptadortestigos_apgmotor"
            android:exported="false" />
        <activity
            android:name=".Vertestigos_apgmotor"
            android:exported="false" />
        <activity
            android:name=".Preguntasfrecuentes_apgmotor"
            android:exported="false" />
        <activity
            android:name=".vergastos_apgmotor"
            android:exported="false" />
        <activity
            android:name=".ingresargastos_apgmotor"
            android:exported="false" />
        <activity
            android:name=".planificarfecha_apgmotor"
            android:exported="false" />
        <activity
            android:name=".Cambiarcontrasenna_apgmotor"
            android:exported="false" />
        <activity
            android:name=".Configuracion_apgmotor"
            android:exported="false" />
        <activity
            android:name=".nuevovehiculo_apgmotor"
            android:exported="false" />
        <activity
            android:name=".paginaprincipal_apgmotor"
            android:exported="false" />
        <activity
            android:name=".Registro_apgmotor"
            android:exported="false" />
        <!-- EN ESTA ACTIVITY, ENCONTRAMOS QUE EL VALOR ES "TRUE" Y ES LA PRIMERA VENTANA
        QUE APARECE TRAS ABRIR LA APLICACIÓN.
        ADEMAS EL SPLASHTHEME, REFERENCIA A UNA PANTALLA DE CARGA QUE INCORPORA LA APP.
        EL LABEL, ES LA ETIQUETA DEL NOMBRE DEL PROGRAMA Y EL NAME EL NOMBRE DE LA CLASE. -->
        <activity
            android:name=".Login_apgmotor"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <!-- AQUÍ SE REFLEJA EL FUNCIOAMIENTO DE QUE AL SER LA CLASE PRINCIPAL ACTÚA COMO MAIN,
                 ADEMAS LA CATEGORÍA ES PREPARACIÓN DE ARRANQUE DE LA APLICACIÓN. -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>